{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Liste des personnes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Date de naissance</th>
                    <th>Âge</th>
                    <th>Modifier</th>
                </thead>
                <tbody>
                {% for person in persons %}
                    <tr>
                        <th>{{ person.firstName }}</th>
                        <th>{{ person.name }}</th>
                        <th>{{ person.dateOfBirth | date('d/m/Y') }}</th>
                        <th>{{ person.age }}</th>
                        <th><a href="{{ path('person_edit', {'id': person.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a></th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}